body {
   background-color: #eff0f5;
}

.btn-primary {
   background-color: rgb(var(--bs-primary-rgb));
   border-color: rgb(var(--bs-primary-rgb));
}

/* HEADER */

@media (max-width: 776px) {
   header.navbar {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
   }
   .header_content {
      flex-direction: column;
   }
   header h2 {
      font-size: 1.3rem;
   }
   header .fs-5 {
      font-size: 1rem !important;
   }
}

.navbar {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}

.header_links {
   display: flex;
   align-items: center;
   gap: 30px;
}

.header_link_icon {
   height: 1.5rem;
   margin-right: 0.3rem;
   transform: translateY(-10%);
}
@media (max-width: 776px) {
   .header_link_icon {
      height: 1.2rem;
      margin-right: 0.15rem;
   }
}

/* SECTION */

.main-container {
   max-width: 1000px;
}

.page-section {
   padding: 6rem 0;
}

.page-section.projects {
   padding: 8rem 0;
}

#card-items > .card {
   min-width: 100%;
}

.card-body {
   height: 100%;
}

.card-img, .card-title {
   cursor: pointer;
}

.btn-details {
   width: 10rem;
}

/* MODAL */

.modal-images {
   max-width: 500px;
}
@media (max-width: 768px) {
   .modal-images{
      max-width: 100%;
   }
}

.modal-img-preview {
   margin-bottom: 2rem;
}

.modal-img-preview:last-child {
   margin-bottom: 0;
}

@media (max-width: 550px) {
   .modal-info  {
      padding-left: 0 !important;
      padding-right: 0 !important;
   }
}

.modal-info .modal-title {
   margin-top: -10px;
   margin-bottom: 20px;
}

@media (min-width: 992px) {
   .modal-lg,
   .modal-xl {
      max-width: 90%;
   }
}
@media (max-width: 768px) {
   .modal-body > .container > .row {
      flex-direction: column-reverse;
   }
}
@media (min-width: 576px) {
   .modal-dialog {
      max-width: 90%;
   }
}
